 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Oooh+Baby&family=Poppins:wght@300;400;600&family=Roboto:wght@400;500&display=swap');
 


body{
     
    font-family: Oooh Baby;
   background-color:rgb(214, 237, 243) ;
    text-align: center;
    
   
}

#body-el{
    background-color:  #1A374D;
    width:500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
   

} 





h1{
    color: #ffffff;
    margin-top:150px;
    font-size: 50px;
    padding-top: 20px;
}

button{
    padding: 9px 13px 9px 13px;
    background-color: #e16036;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: Poppins;
    font-weight: bolder;
}

i{
    color:white ;
}

input{
    background: white;
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 5px;
    color:rgb(0, 0, 0) ;
    width:350px;
    height: 20px;
    font-weight: bolder;
    display: inline-block;
    
}


ul{
   
margin-right: 35px;
}

li{
   
    list-style: none;
    height: 40px;
    width: 400px;
    line-height: 45px;
    position: relative;
    margin-bottom: 8px;
    padding: 0 15px;
    background-color: #03b5aa;
    padding-right: 0%;
    text-align: left;
    font-family: Poppins;
    border-radius: 5px;
    display: inline-block;
    max-width: 400px;
    overflow: hidden;
    color: white;
}

 
 
 
#clear-el{
    background-color:#db2955 ;
    margin-bottom:20px;
}











#delete-el{
 float: right;
height:40px;
width: 40px;
 
margin-top: 0;
background-color: #db2955;
}


p{
    font-family: Poppins;
    color: #ffffff;
    font-weight: lighter;
    padding-bottom: 20px;
}
 

#big-el{
    background-color:rgb(70, 71, 71);
    width:43px;
    height:23px;
    border-radius: 16px;
   
}


#small-el{
 height: 18px;
  padding-top: 5px;
    background-color: #ffffff;
    width:22px;
    border-radius: 50%;
    box-shadow:1px 0.5px rgb(160, 158, 158) ;
 
}
#icon-el{
  
    position: absolute;
    left: 92%;
    top: 13px;

}

#all-el{
   margin-left: 90%;
   display: inline-flex;
   
   
}
#icon-el #moon{
    color: white;
}
 
#icon-el #sun {
    color: rgb(70, 71, 71);
}

@media only screen and (max-width: 1000px) {
    #icon-el{
  
        position: absolute;
        left: 85%;
        top: 13px;
    
    }
  }