 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Oooh+Baby&family=Poppins:wght@300;400;600&family=Roboto:wght@400;500&display=swap');
 


body{
     
    font-family: Oooh Baby;
   background-color: #52154e;
    text-align: center;
}


h1{
    color: #ffffff;
    margin-top:150px;
    font-size: 50px;
}

button{
    padding: 10px 12px 10px 12px;
    background-color: #f9cff2;
    border: none;
    border-radius: 5px;
    box-shadow: 0.5px 1px #888888;
    color: #52154e;
    font-family: Poppins;
    font-weight: bolder;
}

i{
    color:#52154e ;
}

input{
    background: white;
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 5px;
    color:rgb(0, 0, 0) ;
    width:350px;
    height: 20px;
    font-weight: bolder;
    display: inline-block;
    
}


ul{
   
margin-right: 35px;
}

li{
   
    list-style: none;
    height: 40px;
    width: 400px;
    line-height: 45px;
    position: relative;
    margin-bottom: 8px;
    padding: 0 15px;
    background-color: #f9cff2;
    padding-right: 0%;
    text-align: left;
    font-family: Poppins;
    border-radius: 5px;
    display: inline-block;
    max-width: 400px;
    overflow: hidden;
}

 
 
 












#delete-el{
 float: right;
height:40px;
width: 40px;
box-shadow: 0.5px 1px #525151;
margin-top: 0;
background-color: #ffffff;
}


p{
    font-family: Poppins;
    color: #ffffff;
    font-weight: lighter;
}
 

